In [1]:
import pandas as pd
import os
import sqlalchemy as alch
from getpass import getpass
import sys
sys.path.append('/mnt/c/Users/cleon/Documents/CAL_CAL/ironhack/Proyectos/API-creation-and-sentiment-analysis/src')
import sqlfunctions as sql
import re
from dotenv import load_dotenv

In [2]:
scripts = pd.read_csv('../data/mcu.csv')

In [3]:
scripts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15724 entries, 0 to 15723
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               15724 non-null  int64
 1   character                15724 non-null  object
 2   line                     15724 non-null  object
 3   movie                    15724 non-null  object
 4   year                     15724 non-null  int64
 5   words                    15724 non-null  int64
 6   Adam McKay               15724 non-null  bool
 7   Anna Boden               15724 non-null  bool
 8   Art Marcum               15724 non-null  bool
 9   Ashley Edward Miller     15724 non-null  bool
 10  Chris McKenna            15724 non-null  bool
 11  Christopher Ford         15724 non-null  bool
 12  Christopher Markus       15724 non-null  bool
 13  Christopher Yost         15724 non-null  bool
 14  Craig Kyle               15724 non-null  bool
 15  Don Payne                15724 non-null  bool
 16  Drew Pearce              15724 non-null  bool
 17  Edgar Wright             15724 non-null  bool
 18  Eric Pearson             15724 non-null  bool
 19  Erik Sommers             15724 non-null  bool
 20  Geneva Robertson-Dworet  15724 non-null  bool
 21  Hawk Ostby               15724 non-null  bool
 22  James Gunn               15724 non-null  bool
 23  Joe Cornish              15724 non-null  bool
 24  Joe Robert Cole          15724 non-null  bool
 25  John Francis Daley       15724 non-null  bool
 26  Jon Watts                15724 non-null  bool
 27  Jonathan Goldstein       15724 non-null  bool
 28  Joss Whedon              15724 non-null  bool
 29  Justin Theroux           15724 non-null  bool
 30  Mark Fergus              15724 non-null  bool
 31  Matt Holloway            15724 non-null  bool
 32  Paul Rudd                15724 non-null  bool
 33  Ryan Coogler             15724 non-null  bool
 34  Ryan Fleck               15724 non-null  bool
 35  Shane Black              15724 non-null  bool
 36  Stephen McFeely          15724 non-null  bool
 37  Zack Stentz              15724 non-null  bool
dtypes: bool(32), int64(3), object(3)
memory usage: 1.2+ MB

In [4]:
marvel = scripts[['character', 'line', 'movie', 'year', 'words']]

In [5]:
marvel.sample(5)

,character,line,movie,year,words
12521,T'CHALLA,I gave you Zemo.,Black Panther,2018,4
9974,PETER QUILL,But my mother. You said you loved my mother.,Guardians of the Galaxy Vol. 2,2017,9
3918,CLINT BARTON,"Well, if I put an arrow through Loki’s eye soc...",The Avengers,2012,16
8062,HOPE VAN DYNE,You were trying to bring her back.,Ant-Man,2015,7
878,TONY STARK,"That’s it. I’m done. What’s your name, lady?",Iron Man 2,2010,8

In [6]:
marvel.movie.unique()

array(['Iron Man', 'Iron Man 2', 'Thor',
       'Captain America: The First Avenger', 'The Avengers', 'Iron Man 3',
       'Thor: The Dark World', 'Captain America: The Winter Soldier',
       'Avengers: Age of Ultron', 'Ant-Man', 'Captain America: Civil War',
       'Guardians of the Galaxy Vol. 2', 'Spider-Man: Homecoming',
       'Thor: Ragnarok', 'Black Panther', 'Avengers: Infinity War',
       'Captain Marvel', 'Avengers: Endgame'], dtype=object)

In [7]:
marvel.loc[marvel.character=='A1 TONY']['line']

15169                     One sec, just packing my lunch.
15192    Alexander Pierce.  He’s the guy behind the guy...
15196    I’m not gonna argue who has authority here but...
Name: line, dtype: object

In [8]:
marvel['character'] = sql.nombres(marvel['character'])

<ipython-input-8-d9b988e953fb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  marvel['character'] = sql.nombres(marvel['character'])

In [10]:
marvel["line"] = marvel.line.apply(sql.sustituye)
marvel["character"] = marvel.character.apply(sql.sustituye)
marvel["movie"] = marvel.movie.apply(sql.sustituye)

<ipython-input-10-85fa8048f573>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  marvel["line"] = marvel.line.apply(sql.sustituye)
<ipython-input-10-85fa8048f573>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  marvel["character"] = marvel.character.apply(sql.sustituye)
<ipython-input-10-85fa8048f573>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  marvel["movie"] = marvel.movie.apply(sql.sustituye)

In [11]:
marvel.iloc[12309].line

'Millions of years ago, a meteorite made of vibranium, the strongest substance in the universe struck the continent of Africa affecting the plant life around it. And when the time of man came, five tribes settled on it and called it Wakanda. The tribes lived in constant war with each other until a warrior shaman received a vision from the Panther goddess Bast who led him to the Heart Shaped Herb, a plant that granted him super human strength, speed, and instincts. The warrior became King and the first Black Panther, the protector of Wakanda. Four tribes agreed to live under the King`s rule, but the Jabari tribe isolated themselves in the mountains. The Wakandans used vibranium to develop technology more advanced than any other nation, but as Wakanda thrived the world around it descended further into chaos. To keep vibranium safe, the Wakandans vowed to hide in plain sight, keeping the truth of their power from the outside world.'

In [12]:
marvel.to_csv('../data/marvel.csv')

In [13]:
for index, fila in marvel.iterrows():
    sql.insertLine(fila, index)